[Unit]
Description=FoxFlss.service
After=ModemManager.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 20
ExecStart=/bin/bash -c "while MBIM_PORT=`ls /dev/wwan*mbim*`;do /usr/bin/FoxFlss -d $MBIM_PORT -f Check_RF_SSKU;break;done"
StandardError=null
Restart=on-abort
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_NET_ADMIN
ProtectSystem=true
ProtectHome=true
PrivateTmp=true
RestrictAddressFamilies=AF_NETLINK AF_UNIX AF_QIPCRTR
NoNewPrivileges=true
User=root

[Install]
WantedBy=multi-user.target


